
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  background:$offwhite;
  color: $maroon;
}

p {
  line-height: 20px;
}

ul {
  list-style: none;
}

/*****************************HEADER***************************/
/***********************
      Header style
***********************/

.site-header {
  position:fixed;
	top:0;
	width:100%;
	left:0;
	z-index:999;
	background-color:rgba(255,255,255,.9);
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}

.site-header .topbar{
  background-color:rgba(255,255,255,.8);
	position:relative;
	z-index:3;
	-webkit-box-shadow:0 2px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 2px 0 rgba(0,0,0,.1);
	box-shadow:0 2px 0 rgba(0,0,0,.1);
}

p.consult {
  font-family: $font-main;
}

p.phone-num {
  font-family: $font-number;
}

.site-header.sticky-header .toprow{
	display:none;
	-webkit-transition: display .3s .2s;
	-moz-transition: display .3s .2s;
	-ms-transition: display .3s .2s;
	-o-transition: display .3s .2s;
	transition: display .3s .2s;
}

.h1.logo{
	float: left;
  max-width: 150px;
  display: block;
  margin: 0;
  padding-top: 5px;
}

.h1.logo a{
  display: block;
}

.logo a{
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}

.site-header .menu-toggle {
  font-size: 18px;
  float: right;
  margin: 30px 10px 0 0;
}

.site-header .menu-toggle:focus{
  outline:0;
}

.topbar{
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	background:none;
}

.fa-phone {
  padding-left: 15px;
}

.visible-sm {
  display: none;
}

.top-row {
  background-color: $maroon;
  color: $offwhite;
  height: 40px;
}

.top-menu a {
  display: inline-block;
	color: $white;
  opacity: .8;
  padding: 0 10px;
  border-right: 1px solid rgba(0,0,0,.1);
  font-weight: 400;
}

.top-menu a:hover {
	opacity: 1;
}

.top-menu ul {
  list-style: none;
}

.top-menu li {
  display: inline;
  line-height: 40px;
}

.top-menu li:first-child a{
  border-left: 1px solid rgba(0,0,0,.1);
}

.top-menu i {
  font-size: 15px;
}

.top-menu p {
  font-size: 15px;
  display: inline-block;
  letter-spacing: .07em;
  font-family: 'Raleway';
}

p.phone-num {
  font-family: $font-number !important;
}

.nav-row {
  transition: all 0.3s ease 0.1s;
  background: none;
  height: 90px;
  z-index: 5;
  box-shadow: rgba(0,0,0, 0.098) 0px 2px 0px;
}

.brand {
  float: left;
  max-width: 150px;
  display: block;
  margin: 0px;
  position: relative;
  padding: 5px 0;
}

.sticky-wrap {
  max-height: 50px;
}

.main-menu-wrapper {
		max-width: 100%;
    display: block;
}

.main-menu-wrapper .col-md-12{
	position:relative;
}

.is-sticky .main-menu-wrapper{
	z-index:1000;
	min-height:50px;
	background-color:rgba(255,255,255,.8);
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,.1);
	box-shadow:0 1px 0 rgba(0,0,0,.1);
}

.fa {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
  font: normal;
}

.navigation{
	height:50px;
  z-index:2;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
	position:absolute;
	top:0;
}


.navigation > ul {
  float: right;
}

.navigation > ul > li{
	display:inline-block;
	line-height:50px;
	font-size:16px;
	text-transform:uppercase;
	position:relative;
}

.navigation > ul > li > a {
  padding: 0px 25px;
  display: block;
  text-decoration: none;
}

.navigation > ul > li i {
  font-size: 13px;
}

.navigation > ul > li ul{
	position:absolute;
	top:60px;
	left:30px;
	z-index:999;
	display:none;
	min-width:100%;
	height:auto;
	background:#fff;
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 2px 2px rgba(0,0,0,.2);
	box-shadow:0 2px 2px rgba(0,0,0,.2);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	margin-left:30px;
}
.navigation > ul > li ul:before {
	position: absolute;
	left:50%;
	top: auto;
	margin: -10px 0px 0px -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 5px;
	border-bottom-color: #ffffff;
	content: " ";
	pointer-events: none;
}

.navigation > ul > li ul li ul:before {
	position: absolute;
	left:0;
	top: auto;
	margin: 15px 0px 0px -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 5px;
	border-right-color: #ffffff;
	content: " ";
	pointer-events: none;
}
.navigation > ul > li:hover ul{
	display:block;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.navigation > ul > li > ul li{
	line-height: normal;
	font-size:14px;
	position:relative;
}
.navigation > ul > li > ul li > a{
	display:block;
	padding:10px 20px;
	border-bottom:1px solid #f8f7f3;
	white-space:nowrap;
	text-decoration:none;
}
.navigation > ul > li > ul li a:hover{
	text-decoration:none;
}
.navigation > ul > li > ul li:last-child a{
	border-bottom:0;
}
.navigation > ul > li > ul li ul{
	left:100%!important;
	top:0;
	min-width: inherit;
	margin-left:11px;
	position:absolute;
}

.is-sticky .navigation{
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}



a {
  color: $darkgrey;
  cursor: pointer;
  transition: color 0.1s linear 0s;
}

/*============MEDIA QUERIES===========
====================================*/

@media only screen and (max-width: 992px) {
	.top-navigation li{
		font-size:18px;
	}
	.notice-bar .btn-block, .notice-bar .counter{
		margin-top:20px;
	}
	.events-listing .event-date{
		width:10%;
	}
	.events-listing .event-detail{
		width:57%;
	}
	.events-listing .to-event-url{
		width:26%;
	}
	.main-menu-wrapper{
		display:none;
		background:#f8f7f3;
		height:auto;
		position:absolute;
		left:0;
		top:80px;
		z-index:9999;
		width:100%
	}
	.sticky-wrapper{
		height:auto!important
	}
	.navigation{
		background:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		height:auto;
		position:relative;
		z-index:9999;
	}
	.navigation > ul > li{
		display:block;
		width:100%;
		line-height: normal;
		text-align:left;
	}
	.navigation > ul > li > a{
		padding:20px 25px;
		border-bottom:1px solid #eceae4;
	}
	.navigation > ul > li > ul, .navigation > ul > li > ul li ul{
		position:static;
		height:auto!important;
		border-bottom:1px solid #eceae4;
		top:0;
		left:0;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
		margin-left:0;
	}
	.navigation > ul > li > ul:before, .navigation > ul > li > ul li ul:before{
		display:none;
	}
	.header-style2 .main-menu-wrapper{
		height:auto!important;
	}
	.is-sticky .main-menu-wrapper{
		background-color:#f8f7f3;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	.navigation .megamenu-container ul.sub-menu{
		margin-bottom:20px;
		border-bottom:0;
	}
	.nav-backed-header{
		top:0;
		margin-bottom:0;
	}
	ol.breadcrumb{
		padding-top:20px;
	}
	.page-header{
		top:0;
		margin-bottom:0;
	}
	.post .img-thumbnail, .post .img-thumbnail{
		margin-bottom:20px;
	}
	.post.sermon .post-title .sermon-actions{
		text-align:left;
	}
	.gallery-filter ul{
		float:left;
		margin-top:20px;
	}
	ol.breadcrumb{
		padding:40px 0 40px 0;
	}
	/* Added in v1.2 */		
	.news-portal-cats{		
		margin-bottom:20px;		
	}
}