html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: $font-highlight;
  color: $darkgrey;
}

.nav a {
font-family: $font-main;
color: $maroon;
font-size: 1.6rem;
}

.brand{
  margin-top: 25px;
}




