@import 'https://fonts.googleapis.com/css?family=Lato|Raleway';
@import 'https://fonts.google.com/specimen/Roboto?selection.family=Roboto';
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

$white: #fff;
$offwhite: #ecf0f1;
$silver: #bdc3c7;
$grey: #95a5a6;
$darkgrey: #7f8c8d;
$maroon: #822834;
$red: #c0392b;
$royal: #22313F;
$navy: #2c3e50;

$color-main: $offwhite;
$color-headline: $maroon;

$font-main: 'raleway', helvetica, sans-serif;
