@import 'https://fonts.googleapis.com/css?family=Lato|Raleway';

$white: #fff;
$offwhite: #ecf0f1;
$silver: #bdc3c7;
$grey: #95a5a6;
$darkgrey: #7f8c8d;
$maroon: #200000;
$red: #c0392b;
$royal: #22313F;
$navy: #2c3e50;


$color-main: $royal;
$color-headline: $maroon;

$font-main: 'raleway', helvetica, sans-serif;
$font-highlight: 'lato', helvetica, sans-serif;